.App {
  max-width: 980px;
  margin: auto;
  padding: 1rem;
  min-height: 100vh;
}

h1 {
  text-align: center;
}

.MuiFormControl-root, .user-button {
  /* width: 200px; */
  margin: 0 1rem 1rem 0 !important;
}

.MuiInputBase-root {
  min-width: 200px;
}

.MuiMenuItem-root {
  width: 100% !important;
}
