.App {
  max-width: 1440px;
  margin: auto;
  padding: 1rem;
  min-height: 100vh;
}

.MuiAppBar-root {
  margin-bottom: 1rem;
}

.MuiFormControl-root, .user-button {
  margin: 0 1rem 1rem 0 !important;
}

.MuiInputBase-root {
  min-width: 100px;
}

.MuiMenuItem-root {
  width: 100% !important;
}

.category-heading {
  margin-bottom: 1rem !important;
}