.grid-div {
  padding: 8px -8px;
  overflow-x: hidden;
  overflow: hidden;
}

.empty-div {
  height: 16px;
}

.edit-item {
  width: 100%;
}

.video-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10; /* number of lines to show */
}