.MuiCard-root {
  width: 350px;
}

.grid-div {
  padding: 8px -8px;
  overflow-x: hidden;
  overflow: hidden;
}

.empty-div {
  height: 16px;
}

.video-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* number of lines to show */
}