.grid-div {
  padding: 8px -8px;
  overflow-x: hidden;
  overflow: hidden;
}

.empty-div {
  height: 16px;
}

.set-name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
}

.video-item {
  width: 100%;
}

img, .youtube-video {
  cursor: pointer;
  width: 100%;
}