.MuiCard-root {
  width: 300px;
}

.grid-div {
  padding: 8px -8px;
  overflow-x: hidden;
  overflow: hidden;
}

.empty-div {
  height: 16px;
}

.set-name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* number of lines to show */
}

img {
  width: calc(300px - 32px);
  cursor: pointer;
}